[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/circles-contracts-v2"]
	path = lib/circles-contracts-v2
	url = https://github.com/aboutcircles/circles-contracts-v2
